<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">		

		<img src="./images/bg_food.png" class="retina bg_food" inline>

		<img src="./images/t1.png" class="retina t1 slider" inline>

		<img src="./images/bg.png" class="retina bg slider" inline>

		<img src="./images/logo.png" class="retina logo slider" inline>

		<img src="./images/t2.png" class="retina t2 slider" inline>
		


		
	</div>

	

	
	
	
</div>