<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">		
		<img src="./images/bg1.jpg" class="bg1" inline>
		<img src="./images/bg2.jpg" class="bg2" inline>
		<img src="./images/bg3.jpg" class="bg3" inline>
	</div>
	<img src="./images/t1.png" class="retina t1" inline>
	<img src="./images/logo.png" class="retina" inline>
</div>