<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">		

		<img src="./images/txt_address.png" class="retina address" inline>
		<img src="./images/t1.png" class="retina t1" inline>
		<img src="./images/t1a.png" class="retina t1a" inline>
		<img src="./images/t1b.png" class="retina t1b" inline>
		<img src="./images/t1c.png" class="retina t1c" inline>
		<img src="./images/t1d.png" class="retina t1d" inline>

		
	</div>

	<div class="frame frame2">		
		<img src="./images/end.png" class="retina end" inline>
	</div>

	
	
	
</div>